/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this CSS rule to change the color of buttons to blue */
button {
  background-color: blue;
  color: white;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Add a hover effect to the buttons */
button:hover {
  background-color: darkblue;
}

/* Specific class for the remove button */
.remove-button {
  background-color: red;
}

/* Hover effect for the remove button */
.remove-button:hover {
  background-color: darkred;
}

/* Additional styles for the carousel and products */
.carousel-container {
  padding: 0 20px; /* Add padding to the left and right sides of the carousel */
}

.product {
  width: 100%; /* Ensure the product takes up the full width of the carousel */
  text-align: center; /* Center align the content */
}

.product img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
  object-fit: contain; /* Maintain aspect ratio while fitting the image within the container */
}

/* Add this CSS file */
.product-info {
  margin-top: auto; /* Pushes the content to the bottom of the container */
}

.product-description-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.product-description-button:hover {
  background-color: #0056b3;
}