/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional styles for the carousel and products */
.carousel-container {
  padding: 0 20px; /* Add padding to the left and right sides of the carousel */
}

.product {
  width: 100%; /* Ensure the product takes up the full width of the carousel */
  text-align: center; /* Center align the content */
}

.product img {
  max-width: 100%; /* Ensure the image doesn't exceed the container width */
  max-height: 100%; /* Ensure the image doesn't exceed the container height */
  object-fit: contain; /* Maintain aspect ratio while fitting the image within the container */
}

/* Add this CSS file */
.product-info {
  margin-top: auto; /* Pushes the content to the bottom of the container */
}
