.block {
    display: block;
  }
  
  .center {
    text-align: center;
  }
  
  .logo-img {
    height: 40px;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    align-items: center; /* Align the links vertically */
  }
  
  .nav-link {
    text-decoration: none;
    color: blue;
    margin-right: 70px; /* Increase the margin to space the links better */
    margin-bottom: 50px;
  }
  
  .welcome-buffer {
    margin-bottom: 20px;
  }
  